@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', sans-serif;
}

/* global baseline for portal */
@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
